<template>
  <div class="form-group" id="reader-div">
    <input type="file" @change="loadTextFromFile" class="btn btn-lg btn-primary" />
  </div>
</template>

<script>
export default {
  methods: {
    loadTextFromFile (ev) {
      const file = ev.target.files[0]
      const reader = new FileReader()

      reader.onload = e => this.$emit('load', e.target.result)
      reader.readAsText(file)
    }
  }
}
</script>

<style lang="css" scoped>
#reader-div {
    display: flex;
    justify-content: center;
}
</style>
