<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <span>{{description}}</span>
    <div style="margin-top: 20px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group" v-if="uploadStatus == true">
          <label>Content File</label>
          <textarea rows="10" v-model="result" class="form-control"></textarea>
        </div>
        <app-reader @load="onFileSelect($event)"></app-reader>
        <download-csv class="btn btn-success btn-lg" :data="json_data" name="output.csv"  v-if="uploadStatus">Download CSV</download-csv>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-12" style="margin-top: 20px;">
        <table class="table table-bordered" v-if="uploadStatus == true">
          <thead>
            <tr>
              <th>Product Information</th>
              <th>Total Transaction Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, idx) in json_data" :key="idx">
              <td>{{data.Client_Information}}</td>
              <td>{{data.Total_Transaction_Amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import FileReader from './FileReader'
import JsonCSV from 'vue-json-csv'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Daily Summary Report',
      description: 'Please upload the Today\'s input text file to generate the Daily summary report.',
      result: '',
      json_data: [],
      uploadStatus: false
    }
  },
  components: {
    appReader: FileReader,
    downloadCsv: JsonCSV
  },
  methods: {
    onFileSelect ($event) {
      let text = $event
      let textList = text.match(/.{1,303}/g)
      this.result = $event
      this.uploadStatus = true

      for (let i = 0; i < textList.length; i++) {
        let data = textList[i]
        // Client Information
        let clientType = data.substring(3, 7)
        let clientNumber = data.substring(7, 11)
        let amountNumber = data.substring(11, 15)
        let subAccountNumber = data.substring(15, 19)

        // Product Information
        let exchangeCode = data.substring(27, 31)
        let productGroupCode = data.substring(25, 27)
        let symbol = data.substring(31, 37)
        let expirationDate = data.substring(37, 45)

        // Total TransactionAmount
        let quantityLong = data.substring(52, 62)
        let quantityShort = data.substring(63, 73)

        let clientInfo = clientType + clientNumber + amountNumber + subAccountNumber
        let productInfo = exchangeCode + productGroupCode + symbol + expirationDate
        let totalAmount = quantityLong + quantityShort
        // Check if there're same Product information per client
        var isDuplicateValue = false
        for (let j = 0; j < this.json_data.length; j++) {
          if (clientInfo === this.json_data[j]['Client_Information'] && productInfo === this.json_data[j]['Product_Information']) {
            isDuplicateValue = true
            this.json_data[j]['Total_Transaction_Amount'] += parseInt(totalAmount)
            break
          }
        }

        if (!isDuplicateValue) {
          this.json_data.push({
            Client_Information: clientInfo,
            Product_Information: productInfo,
            Total_Transaction_Amount: parseInt(totalAmount)
          })
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal
}
ul {
  list-style-type: none;
  padding: 0
}
li {
  display: inline-block;
  margin: 0 10px
}
a {
  color: #42b983
}
.hello {
  margin-bottom: 60px;
}
tr {
  text-align: left;
}
</style>
